.header {
    grid-area: header;
    border-bottom: 2px solid var(--border-color);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s ease;
}

.header.expanded {
    opacity: 0;
    pointer-events: none;
}


